<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @message.content %>
</p>

<p>
  <b>Session:</b>
  <%= @message.session_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @message.created_at %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
